.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-image-1 {
  height: 508px;
  object-position: 0% 67.46%;
  width: 986px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 558px;
  margin: -24px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 12.5px));
  min-height: 285px;
  grid-gap: 25px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}
/* .a{
  border: solid;
  color: black;
  padding: 2% 2% 2% 2%;
} */
.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
  margin: 27px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
  margin: 27px 0 0;
}

.u-section-1 .u-group-1 {
  width: 542px;
  min-height: 366px;
  background-image: none;
  height: auto;
  margin: -260px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 40px 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-family: Aldrich;
  margin: 0 91px 0 9px;
}

.u-section-1 .u-text-6 {
  margin: 15px 50px 0 9px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 15px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: -50px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-1 .u-image-1 {
    height: 588px;
    width: 849px;
  }

  .u-section-1 .u-list-1 {
    width: 491px;
    margin-top: -1px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 529px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-group-1 {
    width: 439px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-1 .u-image-1 {
    height: 499px;
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 518px;
    margin-top: 112px;
    margin-right: 34px;
  }

  .u-section-1 .u-group-1 {
    width: 467px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* .out{
  border: solid;
  color: rgb(187, 0, 255);
} */
@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-1 .u-image-1 {
    height: 374px;
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 467px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
    margin-right: 90px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 8px;
    margin-right: 49px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -49px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-1 .u-image-1 {
    height: 235px;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 247px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1081px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}
